div {
    display: block;
  }
   
  
  .tooltip {
    position: absolute;
    text-align: center;
    width: 80px;    
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 5px;
    pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
  }
  